{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=False %}
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content_title %}
  <h1>管理员在这里准备dbog数游要使用到的数据材料，同时在这里可以配置网站的管理员用户。</h1>
{% endblock %}
