<!DOCTYPE html>
{% load static %}

<html>
<head>
  <title> Dbog！</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Bootstrap core CSS -->
  <!--  https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/dist/css/bootstrap.min.css -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/desan.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--  https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/assets/css/ie10-viewport-bug-workaround.css -->
  <link href="/static/ie10-viewport-bug-workaround.css" rel="stylesheet">

</head>

<script>
  var active_card_index = 0
</script>

<body style="overflow-x: hidden;overflow-y: scroll;">
  <div style="">
<!--            HEADER              -->

  <nav class="navbar-inverse">
        <div class="container">

          <div class="navbar-header">
            <a class="navbar-brand" href="/"><strong style="font-size: 20px;">Dbog!  数游 - 玩索而有得</strong></a>
          </div>

          <div id="navbar" class="collapse navbar-collapse" style="float: right; padding-left: 10px;">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <!--            搜索按钮             -->
          <div class="navbar-header col-lg-6" style="padding-top:9px; padding-left:20px;">
            <form action="" method="post" class="form-inline">{% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" name="searchstr" placeholder="搜索或随机显示">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>

        </div>
      </nav>


  <div class="container" >
    <div class = "row">

      <!--            数据集列表              -->

      <div class = "col-md-2 " style="border-radius: 10px; margin-top: 20px; padding: 0px; padding-top: 30px;padding-bottom: 150px;background-color: WhiteSmoke; border: 1px solid lightgrey">
        <div class = "col-md-2"></div><div class = "col-md-8">
            <img style="border-radius: 10px;" src="{{ MEDIA_URL }}{{ game.series.cfile }}" alt={{ game.series.name }} class="img-responsive img-thumbnail" />
        </div><div class = "col-md-2"></div>
        <div class = "col-md-12">
          <center style="padding-top: 10px;padding-bottom: 20px;color: #363636; font-size: 18px;">
            {{ game.series.name }}
          </center>
        </div>
        <div class = "col-md-12">
          <table>
            {%  for g in games %}
            <tr>
              {% if game == g %}
                <td style="border-radius: 4px; background-color: #dcdcdc; padding:6px; font-size:95%;">
              {% else %}
                <td style="padding:6px; font-size:95%;">
              {% endif %}
                <a href="{% url 'games:detail' g.id %}">{{ g.name }}</a>
              </td>
              <td>
                <a href="{% url 'games:download' g.id %}" style="padding-left:10px; font-size:85%;">↓</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

        <!--            展示当前数据集              -->
      <div class = "col-md-10" style="padding-left:40px; margin-bottom: 10px;">
        <!--            四张卡片区域              -->
        <div class = "div_relative" id = "cards_row" style="font-size:110%; margin-bottom: 20px;">
          {%  for card in cards %}
          <div class = 'div_{{forloop.counter}}' id = {{ card.id }} >
              <ul class="list-group list-group-flush"  style="height:97%; overflow:auto;z-index:0;" >
                  <li class="list-group-item" style="border:none; background-color:rgba(0,0,0,0);" ><div style="color:DarkGray; font-size:80%; display:inline-block;">{{ card.game.field_name_1 }}&nbsp</div>{{ card.field_1 }}</li>
                  <li class="list-group-item" style="border:none; background-color:rgba(0,0,0,0);"><div style="color:DarkGray; font-size:80%; display:inline-block;">{{ card.game.field_name_2 }}&nbsp</div>{{ card.field_2 }}</li>
                  <li class="list-group-item" style="border:none; background-color:rgba(0,0,0,0);"><div style="color:DarkGray; font-size:80%; display:inline-block;">{{ card.game.field_name_3 }}&nbsp</div>{{ card.field_3 }}</li>
              </ul>

              {% if card.comments_list %}
              <div style="display: inline_block; padding-left: 50%;">
                <div style="
                  width:6px;height:6px;
                  background-color:LimeGreen;
                  border-radius:50%;
                  text-align:center;color:white;
                  z-index:1;">
                </div>
              </div>
              {% endif %}

          </div>
          {%  endfor %}
        </div>

        <!--            COMMENTS              -->
        <div class = "row" style="margin: 10px; padding: 10px; background-color:WhiteSmoke;">
        {% for card in cards %}
          {% if card.comments_count != 0 %}

          <div class = "row" style="padding-top: 10px;" id = "comment_{{ card.id }}" >
            <!--       对话内容       -->
            <div id="myTabContent" class="col-xs-8 tab-content vertical-tab-content" >
                {% for comment in card.comments_list %}
                  {% if comment.count != 0 %}
                    {% if forloop.counter0 == 0 %}
                       <div class="tab-pane fade in active" id = content_{{ comment.conn }}{{ card.id }}>
                    {% else %}
                       <div class="tab-pane fade" id = content_{{ comment.conn }}{{ card.id }}>
                    {% endif %}
                      <div style="padding-left:15px;padding-right:15px;padding-top:5px;">
                        {% for dc in comment.cards %}
                          <div style="border-radius:10px;">
                              {% if dc.field_1 %}<div style="padding: 5px; display: inline-block;">
                                <div style="color:DarkGray; display:inline-block;">{{ dc.game.field_name_1 }}&nbsp</div>{{ dc.field_1 }}</div>{% endif %}
                              {% if dc.field_2 %}<div style="padding: 5px;display: inline-block;">
                                <div style="color:DarkGray; display:inline-block;">{{ dc.game.field_name_2 }}&nbsp</div>{{ dc.field_2 }}</div>{% endif %}
                              {% if dc.field_3 %}<div style="padding: 5px;display: inline-block;">
                                <div style="color:DarkGray; display:inline-block;">{{ dc.game.field_name_3 }}&nbsp</div>{{ dc.field_3 }}</div>{% endif %}
                          </div>
                          <br>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
              {%  endfor %}
            </div>
            <!--        tab页的对话列表头          -->
            <ul id="myTab" class="col-xs-4 nav nav-pills vertical-tab nav-stacked" >
              {% for comment in card.comments_list %}
                  {% if comment.count != 0 %}
                    {% if forloop.counter0 == 0 %}
                       <li class="active">
                    {% else %}
                       <li>
                    {% endif %}
                    <a href='#content_{{ comment.conn }}{{ card.id }}' data-toggle="tab"> <span class="label label-primary" style="border-radius: 15px; ">{{ comment.count }}</span>&nbsp{{ comment.conn }}</a></li>
                  {% endif %}
              {%  endfor %}
            </ul>

          </div>
          {% endif %}
        {% endfor %}


       </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/assets/js/ie10-viewport-bug-workaround.js"></script>

    <script>

      $(function () {
      	$("[data-toggle='popover']").popover();
      });

      function update_cards() {

        // active card will have a green border
        var zindex = 100;
        {%  for card in cards %}
          zindex = zindex - 1;
          var active_card = document.getElementById({{ card.id }});
          var active_comment = document.getElementById("comment_{{ card.id }}");
          var active_content = document.getElementById("content_{{ card.id }}");
          if ({{ card.id }} == active_card_index) {
            active_card.style.border= '3px solid DimGray';
            active_card.style.zIndex=600;
            active_card.style.fontSize='125%';
            active_card.style.color= '#393939';
            active_card.style.width='33%';
            //active_card.style.backgroundImage = "url('/static/game_bg.jpg')";
            if (active_comment) {
              active_comment.style.display = "inline";
              active_comment.classList.add('active');
            }
          } else {
            active_card.style.border= '';
            active_card.style.borderTop= '10px solid White ';
            active_card.style.borderBottom= '10px solid White ';
            active_card.style.zIndex=zindex;
            active_card.style.fontSize='';
            active_card.style.color='';
            active_card.style.width='30%';
            if (active_comment) {
              active_comment.style.display = "none";
              active_comment.classList.remove('active');
            }
          }
        {% endfor %}

        // hide comments for inactive cards
        var comments = document.getElementsByClassName('btn btn-default');
        var i;
        for (i = 0; i < comments.length; i++) {
            //comments[i].style.backgroundColor = "red";
        }
      }
      function f (index) {  //事件侦测函数
        active_card_index = index
        update_cards()
      }
      var active_card
      {%  for card in cards %}
        active_card = document.getElementById({{ card.id }});  //获取文本框的指针引用
        active_card.onclick =  function(){f({{ card.id }})} ;  //注册鼠标单击时事件处理函数
      {% endfor %}

      active_card_index = {{ cards.first.id }}
      update_cards()

    </script>

  </div></body>
</html>
